@model ShopBanDoDienTu_Nhom1.ViewModel.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Đăng nhập - Shop Nhóm 1</h2>

<div class="card mx-auto" style="max-width: 250px; background: rgb(0, 0, 0, 0.5)">
    <div class="card-body">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Username)
                @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.ValidationSummary()
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-warning">Đăng nhập</button>
            </div>
        }
    </div>
</div>

<div class="text-center mt-3">
    <a href="@Url.Action("ResetPassword", "Account")" class="btn btn-outline-primary">Quên mật khẩu</a>
</div>
